.store {
  display: grid;
  grid-template-areas:
    "header"
    "title"
    "inventory";
  grid-template-rows: auto auto 1fr;
  height: calc(100vh - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px;
  margin: 0 auto;

  .store-header {
    display: flex;
    justify-content: space-between;

    .left {
      h1 {
        color: #c1b1fa;
        font-size: 70px;
        font-weight: 500;

        .sub-title {
          position: absolute;
          padding-top: 24px;
          margin-left: 5px;
          font-size: 78px;

          img {
            position: absolute;
            top: 27px;
            left: 39px;
            width: 106px;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #ffffff42;
        width: 310px;
        top: 137px;
      }
    }
  }

  .tabs {
    display: flex;
    margin-top: 30px;
    position: relative;

    a {
      font-size: 24px;
      color: #fbfafa5e;
      font-weight: 400;
      margin: 0 15px 25px 15px;
      cursor: pointer;

      &.is-active {
        border-bottom: 2px solid white;
        color: white;
      }
    }

    .meta-data {
      position: absolute;
      right: 20px;
      bottom: 0;
      font-size: 21px;
      color: white;

      .coins {
        position: relative;
        background: #0000002e;
        border-radius: 10px 10px 0 0px;
        font-size: 15px;
        min-width: 116px;
        text-align: center;
        line-height: 31px;
        font-weight: 600;
        font-family: Helvetica;
        border: 1px solid black;
        border-bottom: 0;
        z-index: 9;
        padding: 8px 33px 8px 35px;
        color: #e6c97a;

        label {
          margin-right: 7px;
          font-weight: 400;
        }

        img {
          position: absolute;
          width: 25px;
          left: 7px;
          top: 5px;
        }

        .coin-value {
          display: inline-block;
          font-weight: 500;
          font-size: 20px;
          vertical-align: -2px;
        }
      }
    }
  }

  .tabpage {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;

    .items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      overflow-y: auto;
      position: absolute;
      top: 18px;
      bottom: 13px;
      right: 9px;
      left: 20px;

      .card {
        width: 205px;
        border: 1px solid #c1b1fa00;
        margin-right: 30px;
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0.534);
        overflow-y: auto;
        border-radius: 10px;

        .card-preview {
          position: relative;
          display: flex;
          justify-content: center;
          padding: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, .12);

          .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fffefed6;
            border-radius: 100%;
            width: 120px;
            height: 120px;
            margin-right: 5px;
            padding: 20px;

            img {
              width: 100px;
            }
          }

          .price {
            position: absolute;
            right: 0;
            top: 9px;
            background: #0606068a;
            border-radius: 10px 0px 0 10px;
            font-size: 14px;
            line-height: 29px;
            padding-right: 12px;
            padding-left: 35px;

            img {
              position: absolute;
              width: 25px;
              left: 7px;
              top: 2px;
            }

            .coin-value {
              color: #e6c97a;
            }
          }
        }

        .details {
          overflow: hidden;
          height: 91px;

          .inner-details {
            transition: transform 300ms ease-out;

            .card-title {
              padding: 0;
              display: flex;
              height: 48px;
              align-items: center;
              padding-left: 14px;
              padding-right: 14px;
              font-size: 18px;
              font-weight: 600;
              color: rgba(0, 0, 0, .87);
            }

            .card-summary {
              display: flex;
              justify-content: space-between;
              padding: 0 15px 8px 15px;
              min-height: 2.4em;
              font-size: 15px;

              label {
                position: relative;
                padding-left: 13px;
                padding-top: 8px;

                &:after {
                  content: "";
                  position: absolute;
                  left: -3px;
                  width: 10px;
                  height: 10px;
                  top: 12px;
                  border-radius: 100%;
                }

                &.Common {
                  &:after {
                    background: #ee08fe; // #66ede7 #662e79 #c1b1fa
                  }
                }

                &.Rare {
                  &:after {
                    background: #66ede7;
                  }
                }

                &.Legendary {
                  &:after {
                    background: #662e79;
                  }
                }

                &.Ultra {
                  &:after {
                    background: #c1b1fa
                  }
                }
              }

              .switch-control {
                display: inline-block;
                direction: ltr;
                height: 28px;
                vertical-align: middle;

                input {
                  display: none;
                }
              }
            }

            .link {
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              width: 70px;
            }
          }

          &.confirm-purchase {
            .inner-details {
              transform: translateY(-90px);
            }
          }
        }

        &.full-size {
          width: 100%;

          .card-preview {
            justify-content: space-between;
            border-bottom: none;

            .image-wrapper {
              border-radius: 10px;
              margin-right: 20px;
            }

            .description {
              flex-grow: 1;

              h3 {
                font-size: 24px;
                margin-bottom: 13px;
              }

              h5 {
                display: inline;
                font-size: 18px;
                line-height: 34px;
                color: #000000bf;
                font-weight: 600;
                border-bottom: 1px solid #038e94;
                padding-bottom: 2px;
              }

              p {
                font-size: 18px;
                max-width: 550px;

                &.unlock-level {
                  margin-top: 20px;
                  font-size: 15px;
                }
              }
            }

            .actions {
              display: flex;
              justify-content: center;
              width: 110px;

              .btn {
                width: unset;
              }
            }
          }
        }
      }
    }
  }

  .close {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    position: absolute;
    left: 50%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      border: 4px solid #1dd7ee3b;
      cursor: pointer;
      box-shadow: 0 0 4px #1c323d, 0 0 1px black inset;
      background: #ffffff9e;
      font-size: 20px;
      text-decoration: none;
      color: #00000096;
      font-weight: 600;
      transition: background-color .3s ease;

      &:hover {
        background-color: #fff;
      }
    }
  }
}
