.avatar {
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    background: #fffffff2;
    width: 150px;
    
    .cat-head {
      width: 150px;
    }
  }
  