<div class="covid-tracker">
  <div class="school-settings">
    <h2>School Configuration</h2>
    <form>
      <div class="control-group">
        <label>Total students</label>
        <input type="number">
      </div>
      <div class="control-group">
        <label>Cohort Size</label>
        <input type="number">
      </div>
      <div class="control-group">
        <label>Class Size</label>
        <input type="number">
      </div>
      <h3>Relationships</h3>
      <div class="control-group">
        <label>Siblings</label>
        <input type="number">
      </div>
      <div class="control-group">
        <label>Daycare</label>
        <input type="number">
      </div>
      <div class="control-group">
        <label>Extra Curricular</label>
        <input type="number">
      </div>
      <div class="control-group">
        <label>Friend</label>
        <input type="number">
      </div>
      <div class="actions">
        <button type="button" (click)="generateSchool()">Generate School</button>
        <span class="disclaimer">* student data is fake</span>
      </div>
    </form>
  </div>
 
  <app-circle-pack [data]="data"></app-circle-pack>
 
</div>
